/*BREAKPOINT LG*/
@media screen and (max-width: 1092px){
    .icon-save {
        line-height: 0px;
        margin-right: 0px;
        margin-top: 30px;
    }
    

   .col{
       flex-basis: calc(100% / 4 - 10px);
       margin: 0 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
   }



}


/*BREAKPOINT MD*/
@media screen and (max-width: 768px){
    .icon-save {
        line-height: 0px;
        margin-right: 0px;
        margin-top: 30px;
    }
    

   .col{
       flex-basis: calc(100% / 4 - 10px);
       margin: 0 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
   }



}

/*BREAKPOINT SM*/

@media screen and (max-width: 576px){
    .icon-save {
        line-height: 0px;
        margin-right: 0px;
    }
    


   .col{
       flex-basis: calc(100% / 2 - 10px);
       margin: 0 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
   }

   nav{
        width: 60px;
   }

   header{
       width: calc(100% - 60px);
   }

   .mobile-none,
   .second-nav{
       display: none;
   }
   
   .icon{
        width: 100%;
        vertical-align: sub;
    }

    #logo{
        display: none;
    }
    #logo-small{
        display: inline;
    }
    .play-bottom{
        width: 70%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        line-height: 10px;
    }

}


