@media screen and (max-width: 768px){
    .made-for-md{
        flex-grow: 1;
    }

    .row-md{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
    }
    .row-md .col{
    width: 50%;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    
}

@media screen and (max-width: 576px){
   
    
}