/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;

}

img{
    width: 100%;
}

#logo{
    width: 80%;
}

#logo-small{
    display: none;
}

.icon{
    width: 12%;
    vertical-align: sub;
}

.clearfix::after{
    content: '';
    clear: both;
    display: block;
    
}


.wrapper{
    height: calc(100vh - 100px);
    display: flex;
    flex-wrap: wrap;
    
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.pt-20{
    padding-top: 20px;
}


/*****HEADER******/

header{
    background-color: rgba(17, 16, 19, 0.2);
    height: 100px;
    width: calc(100% - 230px);
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
}
.btn{
    font-size: 1.2em;
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 220px;
    color: #fff;
    line-height: 10vh;
    margin-right: 10px;
    width: 100px;
    height: 50px;
    

}

.btn:hover{
    transform: scale(1);   
}

.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}



/****NAV*****/

nav{
    background-color: #000;
    width: 230px; 
    padding: 20px; 
    position: relative;
    min-height: 500px;
}

nav .main-nav,
nav .second-nav{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;

}

nav .main-nav li,
nav .second-nav li{
    margin-bottom: 10px;

}

nav .main-nav li:first-child{
    border-left: 2px solid yellowgreen;
}

nav .main-nav a,
nav .second-nav a,
.playlist-text a{
    text-decoration: none;
    color: grey;
}


.second-nav{
    overflow-y: scroll;
}

.playlist-text{
    margin-bottom: 20px;
    vertical-align: sub;
    line-height: 30px;
    overflow: hidden; 
}

.nav-bottom{
    position: absolute;
    bottom: 0;
    left: 0px;
    padding-bottom: 10px;
    width: 100%;
}

.download{
    font-size: 0.8em;
    color: grey;
    margin-bottom: 10px;
    
}
.icon-download{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;

}
.user{
    font-size: 1em;
    margin-top: 10px;
    
}

.profile{
    background-color: grey;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;

}

/******BOTTONE AGGIUNGI PLAYLIST*****/
.btn-plus{
    font-size: 1.5em;
    background-color: grey;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

.btn-plus::after{
    font-size: 1.5em;
    background-color: grey;
    width: 30px;
    height: 30px;
    float: left;
    content: '+';
    text-align: center;
    color: #fff;
}

.btn-plus:hover{
    font-size: 1.5em;
    background-color: grey;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    transform: scale(1);
}

/******SEZIONE ALBUM******/
main{
    flex-grow: 1;
    background-color: #141922;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 230px);
    /* height: 100%; */
    padding-top: 100px;
    
}
.sctn-albm{
    
    overflow-y: scroll;
    flex-basis: calc(100vh - 200px);
}

.nav-albm ul{
    list-style-type: none;
    color: grey;
    text-align: center;
    margin-bottom: 20px;
}

.nav-albm ul li{
    display: inline;
    margin-right: 20px;
}

.active::after{
    width: 30%;
    height: 10px;
    background-color:  yellowgreen;
}

.nav-albm ul li a{
    text-decoration: none;
    color: grey;
}

.row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 1;
}

.col{
    flex-basis: calc(100% / 6 - 10px);
    /* border: 1px solid #fff; */
    margin: 0 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    
}

.title-song{
    font-size: 1.1em;
}

.sub-song{
    color: grey;
    
}

.col .title-song,
.col .sub-song{
    margin-top: 10px;
    text-align: center;
}

.circle-icon{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #fff;
    padding-left: 2px;
}

.circle{
    border-radius: 50%;
}


/****SEZIONE DEL PLAYER****/

footer{
    height: 100px;
    background-color: #282828;
    width: 100%;
    
}

#miniature{
    width: 100px;
    float: left;
    
}
.player-col{
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-self: center;

}

.player-row{
    justify-content: space-between;
    align-self: flex-start;
    align-content: center;
    flex-basis: calc(100% / 3);
    /* border: 1px solid #fff; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    background-color: #282828;
    height: 100px;

}

.text-player{
    float: left;
    margin-top: 30px;
}

.text-player .title-song{
    font-size: 1em;
    
}

.text-player p{
    color: grey;
    font-size: 0.8em;
}

.icon-save{
    line-height: 100px;
    float: left;
    margin-right: 20px;
}

.play-up .far{
    font-size: 1.5em;
}

.far,
.fas{
    margin-right: 20px;
    margin-bottom: 10px;
}

.line-full{
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    height: 10px;
    background-color: grey;
    border-radius: 4px;
    
}

.line-small{
    width: 30%;
    height: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.dot-load{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: right;
    display: none;
    background-color: yellowgreen;

}

.dot-load:hover{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: right;
    position: relative;
    right: 0;
    top: 0;
    background-color: #fff;
    display: inline;

    
}

.volume{
    flex-grow: 1;
    line-height: 100px;
}

.line-volume{
    width: 80%;
    height: 10px;
    background-color: grey;
    margin: 0 5px;
    border-radius: 4px;

}

.column-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-grow: 1;
}

footer .fas:last-child{
    margin-right: 0;
}

.play-bottom{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    line-height: 10px;
}

.icon-vol{
    font-size: 0.8em;
    display: flex;
    justify-content: right;

}


/****EFFETTI HOVER***/

nav .main-nav li a:hover,
nav .second-nav li a:hover,
.playlist-text a:hover{
    color: #fff;
}

.nav-albm ul li a:hover{
    color: #fff;

}

.btn:hover{
    font-size: 1.2em;
    padding: 10px 50px;
    border: 1px solid #fff;
    border-radius: 220px;
    color: #fff;
    line-height: 10vh;
    margin-right: 10px;
    transform: scale(1);    

}

[alt*="playlist"]:hover{
    filter: opacity(0.5);
    content: 'f144';
    font-family: "Font Awesome 5 Free";
    font-size: 600;
    text-align: center;
    line-height: 50px;
    color: white;
}

.line-small:hover{
    background-color: yellowgreen;
    cursor: pointer;
}

