/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;

}

img{
    width: 100%;
}

#logo{
    width: 60%;
}

.icon{
    width: 12%;
    vertical-align: sub;
}


.wrapper{
    height: calc(100vh - 100px);
    display: flex;
    flex-wrap: wrap;
    
}

/*****HEADER******/

header{
    background-color: rgba(17, 16, 19, 0.9);
    height: 100px;
    width: calc(100% - 230px);
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
}
.btn{
    font-size: 1.2em;
    padding: 10px 50px;
    border: 1px solid #fff;
    border-radius: 220px;
    color: #fff;
    line-height: 10vh;
    margin-right: 10px;
}



/****NAV*****/

nav{
    background-color: #000;
    width: 230px;    
}

nav .main-nav,
nav .second-nav{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;

}

nav .main-nav li,
nav .second-nav li{
    margin-bottom: 10px;

}

nav .main-nav a,
nav .second-nav a{
    text-decoration: none;
    color: white;
}

.second-nav{
    overflow-y: auto;
}

.second-nav li:first-child{
    margin-bottom: 20px;
    vertical-align: sub;
    line-height: 30px;
}

/******BOTTONE AGGIUNGI PLAYLIST*****/
.btn-plus{
    font-size: 1.5em;
    background-color: grey;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

.btn-plus::after{
    font-size: 1.5em;
    background-color: grey;
    width: 30px;
    height: 30px;
    float: left;
    content: '+';
    text-align: center;
}

/******SEZIONE ALBUM*****/
main{
    flex-grow: 1;
    background-color: #141922;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 230px);
    height: 100%;
    padding-top: 100px;
    
}
.sctn-albm{
    
    overflow-y: scroll;
    flex-basis: calc(100vh - 200px);
}

.nav-albm ul{
    list-style-type: none;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.nav-albm ul li{
    display: inline;
    margin-right: 20px;
}

.row{
    display: flex;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col{
    flex-basis: calc(100% / 6 - 10px);
    /* border: 1px solid #fff; */
    height: 300px;
    margin: 0 5px;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    
}

.title-song{
    font-size: 1.1em;
}

.sub-song{
    color: grey;
    
}

.col .title-song,
.col .sub-song{
    margin-top: 10px;
    text-align: center;
}

.circle{
    border-radius: 50%;
}


/****SEZIONE DEL PLAYER****/

footer{
    height: 100px;
    background-color: #282828;
    width: 100%;
}