/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-flex{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 90vh;
    
}

body{
    font-family: 'Roboto', sans-serif;
    color: #fff;

}

img{
    width: 100%;
}

/*HEADER*/

header{
    background-color: rgba(17, 16, 19, 0.9);
    min-height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    text-align: right;
}
.btn{
    font-size: 1.2em;
    padding: 10px 50px;
    border: 1px solid #fff;
    border-radius: 220px;
    color: #fff;
    line-height: 10vh;
    margin-right: 10px;
    text-decoration: none;
}



nav{
    background-color: #000;
    width: 20%;
    position: fixed;
    z-index: 2;
    height: 90vh;
    overflow: hidden;
    float: left;
    padding: 20px;
    padding: 20px;
}

#logo{
    width: 60%;
}


.sctn-albm{
    background-color: #141922;
    padding: 10px;  
    width: 80%;  
    float: right;
}


footer{
    min-height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #282828;
    width: 100%;
}